/* index.html and General Stylization */

/* Body */

body {
    font-family: Merriweather Sans, sans-serif;
    color: hsl(0, 0%, 90%);
    background-image: linear-gradient(hsl(0, 0%, 10%), hsl(240, 100%, 35%), hsl(0, 0%, 10%));
}





/* Header */

header {
    background-color: hsl(0, 0%, 10%);
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 1;
}

header > figure, header > nav {
    margin: 0;
}

header > nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header a {
    text-decoration: none;
    color: hsl(0, 0%, 90%);
}

header a:hover {
    color: hsl(240, 100%, 35%);
    transition: 0.25s;
}

header .icon {
    display: none;
}





/* Welcome Screen */

.WelcomeScreen {
    background-image: url(../Images/ImagemPrincipal.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.WelcomeScreen > article, .WelcomeScreen > nav {
    display: flex;
    align-items: center;
}

.WelcomeScreen > article {
    background-color: hsla(0, 0%, 10%, 50%);
    flex-direction: column;
    justify-content: space-around;
}

.WelcomeScreen > nav {
    background-color: hsla(0, 0%, 90%, 50%);
    justify-content: center;
}

.WelcomeScreen h1, .WelcomeScreen p, .WelcomeScreen a {
    text-align: center;
    margin: 0;
}

.WelcomeScreen a {
    text-decoration: none;
    color: hsl(0, 0%, 90%);
    background-color: hsl(0, 0%, 10%);
}

.WelcomeScreen a:hover {
    background-color: hsl(240, 100%, 35%);
    transition: 0.25s;
}





/* Banners */

.Banners {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.Banners > h2 {
    text-align: center;
    font-family: Silkscreen;
    background-color: hsl(0, 0%, 10%);
}

.Banners > nav {
    width: 100%;
    position: relative;
    overflow: hidden;
    white-space: nowrap;
}

.Banners figure, .Banners img {
    display: inline-block;
    width: 100%;
    margin: 0;
}

.Banners figure {
    position: relative;
}

.Banners article {
    position: absolute;
    top: 25%;
    left: 5%;
}

.Banners h3 {
    background-color: hsla(0, 0%, 10%, 50%);
}

.Banners article > nav {
    background-color: hsla(0, 0%, 90%, 50%);
    display: flex;
    justify-content: center;
    align-items: center;
}

.Banners a {
    text-decoration: none;
    color: hsl(0, 0%, 90%);
    background-color: hsl(0, 0%, 10%);
}

.Banners a:hover {
    background-color: hsl(240, 100%, 35%);
    transition: 0.25s;
}

.fa-caret-left, .fa-caret-right {
    background-color: hsla(0, 0%, 90%, 50%);
    color: hsl(0, 0%, 10%);
    position: absolute;
    top: 80%;
    transform: translateY(-50%);
    cursor: pointer;
}

.fa-caret-left {
    left: 20%;
}

.fa-caret-right {
    right: 20%;
}





/* Cards */

.Cards {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.Cards > h2 {
    text-align: center;
    font-family: Silkscreen;
    background-color: hsl(0, 0%, 10%);
}

.Cards > nav {
    background-color: hsl(0, 0%, 10%);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

.Cards figure {
    background-color: hsla(0, 0%, 90%, 50%);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.Cards figure > img {
    background-image: radial-gradient(hsl(240, 100%, 35%), hsl(0, 0%, 10%), hsl(0, 0%, 10%));
}

.Cards figure > nav {
    background-color: hsl(0, 0%, 10%);
    display: flex;
    justify-content: center;
    align-items: center;
}

.Cards figure > nav:hover {
    background-color: hsl(240, 100%, 35%);
    transition: 0.25s;
}

.Cards a {
    text-decoration: none;
    color: hsl(0, 0%, 90%);
}





/* Footer */

footer {
    background-color: hsl(0, 0%, 10%);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

footer p {
    text-align: center;
}

footer > nav > figure {
    display: flex;
    justify-content: space-around;
}

footer > nav a {
    margin: 0 50%;
}

footer > figure {
    display: flex;
    justify-content: center;
}





/* login.html Stylization */

/* Forms */

form > h1, form > h2 {
    font-family: Silkscreen;
    background-color: hsl(0, 0%, 10%);
}

fieldset {
    background-color: hsla(0, 0%, 90%, 50%);
}

.EmailContainer, .PasswordContainer {
    background-color: hsla(0, 0%, 10%);
}

legend {
    color: hsl(0, 0%, 10%)
}

.btn-lg:hover {
    background-color: hsl(240, 100%, 35%);
}





/* Responsivity */

/* Max Width: 2560px */

@media screen and (max-width: 2560px) {

    /* index.html */

    /* Header */

    header {
        height: 12vh;
    }
    
    header > nav {
        height: inherit;
        width: 20%;
    }

    header > figure > a > img {
        width: 150%;
    }

    header a {
        font-size: 2rem;
    }





    /* Welcome Screen */

    .WelcomeScreen {
        width: 100%;
        height: 88vh;
    }

    .WelcomeScreen > article, .WelcomeScreen > nav {
        border-radius: 10px;
    }

    .WelcomeScreen > article {
        width: 50%;
        height: 30%;
    }

    .WelcomeScreen h1 {
        font-size: 4rem;
    }

    .WelcomeScreen p {
        font-size: 3rem;
    }

    .WelcomeScreen > nav {
        width: 20%;
        height: 15%;
    }

    .WelcomeScreen a {
        font-size: 2.5rem;
        padding: 5% 20%;
        border-radius: 10px;
    }





    /* Banners */

    .Banners {
        width: 100%;
        height: 110vh;
    }

    .Banners > h2 {
        font-size: 4.5rem;
        width: 80%;
        border-radius: 10px;
        padding-top: 0.5%;
        padding-bottom: 1%;
        margin: 0;
    }

    .Banners h3 {
        font-size: 3.5rem;
        width: 110%;
        padding: 3%;
        border-radius: 10px;
    }

    .Banners article > nav {
        width: 30%;
        padding: 1%;
        border-radius: 10px;
    }

    .Banners a {
        font-size: 2.5rem;
        padding: 5% 20%;
        border-radius: 10px;
    }

    .fa-caret-left, .fa-caret-right {
        font-size: 5rem;
        padding: 0.5% 1%;
        border-radius: 10px;
    }





    /* Cards */

    .Cards > h2 {
        font-size: 4.5rem;
        width: 80%;
        border-radius: 10px;
        padding-top: 0.5%;
        padding-bottom: 1%;
        margin: 0;
    }

    .Cards > nav {
        width: 80%;
        height: 130vh;
        border-radius: 15px;
        margin: 5vh auto;
    }

    .Cards figure {
        width: 25%;
        height: 45%;
        border-radius: 15px;
        margin: 1%;
    }

    .Cards figure > img {
        width: 80%;
    }

    .Cards figure > nav {        
        width: 75%;
        height: 15%;
        border-radius: 10px;
    }

    .Cards a {
        font-size: 2.5rem;
    }





    /* Footer */

    footer > article, footer > nav, footer figure {
        margin: 1rem;
    }

    footer > article {
        width: 60%;
    }

    footer p {
        font-size: 2rem;
        margin: 0;
    }

    footer > figure > img {
        width: 100%;
    }





    /* login.html */

    /* Forms */

    .display-1, .display-2 {
        width: 80%;
        border-radius: 10px;
        padding-top: 0.5%;
        padding-bottom: 1%;
    }

    fieldset, .EmailContainer, .PasswordContainer {
        border-radius: 15px;
    }

    .form-control-lg {
        font-size: 3rem;
        border-radius: 10px;    
    }

    samp {
        font-size: 3rem;
    }

    .btn-lg {
        font-size: 2.5rem;
        border-radius: 10px;
    }
}





/* Max Width: 1440px */

@media screen and (max-width: 1440px) {

    /* index.html */
    
    /* Header */

    header > figure > a > img {
        width: 100%;
    }

    header a {
        font-size: 1rem;
    }





    /* Welcome Screen */

    .WelcomeScreen > article, .WelcomeScreen > nav {
        border-radius: 5px;
    }

    .WelcomeScreen h1 {
        font-size: 2rem;
    }

    .WelcomeScreen p {
        font-size: 1.5rem;
    }

    .WelcomeScreen a {
        font-size: 1.5rem;
        border-radius: 5px;
    }





    /* Banners */

    .Banners > h2 {
        font-size: 3rem;
    }

    .Banners article {
        top: 20%;
    }

    .Banners h3 {
        font-size: 2.5rem;
    }

    .Banners article > nav {
        border-radius: 5px;
    }

    .Banners a {
        font-size: 1.5rem;
        border-radius: 5px;
    }

    .fa-caret-left, .fa-caret-right {
        font-size: 3rem;
        border-radius: 5px;
    }





    /* Cards */

    .Cards > h2 {
        font-size: 3rem;
    }

    .Cards > nav {
        border-radius: 10px;
    }

    .Cards figure {
        border-radius: 10px;
    }

    .Cards figure > nav {
        border-radius: 5px;
    }

    .Cards a {
        font-size: 1.5rem;
    }





    /* Footer */

    footer > article, footer > nav, footer figure {
        margin: 0.5rem;
    }

    footer p {
        font-size: 0.8rem;
    }

    footer > nav img {
        width: 40px;
    }

    footer > figure > img {
        width: 70%;
    }





    /* login.html */

    /* Forms */

    form > .display-1 {
        font-size: 3.5rem;
    }

    form > .display-2 {
        font-size: 3rem;
    }

    fieldset, .EmailContainer, .PasswordContainer {
        border-radius: 10px;
    }

    .display-4 {
        font-size: 2.5rem;
    }

    .display-5 {
        font-size: 1.5rem;
    }

    .form-control-lg {
        font-size: 1.5rem;
        border-radius: 5px;
    }

    samp {
        font-size: 1.5rem;
    }

    .btn-lg {
        font-size: 1.5rem;
        border-radius: 5px;
    }
}





/* Max Width: 1350px */

@media screen and (max-width: 1350px) {
    
    /* index.html */

    /* Banners */

    .Banners {
        height: 100vh;
    }

    .Banners article {
        top: 15%;
    }




    /* Cards */

    .Cards > nav {
        height: 130vh;
    }

    .Cards figure {
        height: 40%;
    }
}





/* Max Width: 1025px */

@media screen and (max-width: 1025px) {
    
    /* index.html */

    /* Header */

    header > nav {
        position: relative;
        align-self: flex-start;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
    }

    header > nav > a {
        display: none;
    }

    header .icon {
        display: inline-block;
    }

    header > .ResponsiveTopMenu {
        background-color: hsl(0, 0%, 10%);
        height: 34vh;
    }

    header > .ResponsiveTopMenu > a {
        display: inline-block;
    }





    /* Welcome Screen */

    .WelcomeScreen > article {
        height: 40%;
    }





    /* Banners */

    .Banners {
        height: 95vh;
    }

    .Banners article {
        top: 13%;
    }

    .Banners h3 {
        font-size: 2rem;
    }

    .Banners a {
        font-size: 1rem;
    }

    .fa-caret-left, .fa-caret-right {
        font-size: 2.5rem;
    }





    /* Cards */

    .Cards > nav {
        height: 200vh;
    }

    .Cards figure {
        height: 23%;
        margin: 5%;
    }

    .Cards a {
        font-size: 1rem;
    }





    /* Footer */

    footer p {
        font-size: 0.8rem;
    }

    footer > nav img {
        width: 35px;
    }





    /* login.html */

    /* Forms */

    .display-4 {
        font-size: 2rem;
    }

    .btn-lg {
        font-size: 1rem;
    }
}





/* Max Width: 769px */

@media screen and (max-width: 769px) {

    /* index.html */

    /* Welcome Screen */

    .WelcomeScreen > article {
        height: 30%;
    }

    .WelcomeScreen > nav {
        width: 25%;
    }

    .WelcomeScreen h1 {
        font-size: 1.6rem;
    }

    .WelcomeScreen p {
        font-size: 1.1rem;
    }

    .WelcomeScreen a {
        font-size: 1.3rem;
    }





    /* Banners */

    .Banners {
        height: 85vh;
    }

    .Banners > h2 {
        font-size: 2.5rem;
    }

    .Banners article {
        top: 10%;
    }

    .Banners h3 {
        font-size: 1.5rem;
    }

    .fa-caret-left, .fa-caret-right {
        font-size: 1.8rem;
        border-radius: 3px;
    }





    /* Cards */

    .Cards > h2 {
        font-size: 2.5rem;
    }

    .Cards > nav {
        height: 150vh;
    }

    .Cards figure {
        height: 25%;
    }

    .Cards a {
        font-size: 0.8rem;
    }





    /* Footer */

    footer > nav img {
        width: 30px;
    }





    /* login.html */

    /* Forms */

    form > .display-1 {
        font-size: 3rem;
    }

    form > .display-2 {
        font-size: 2.5rem;
    }

    .display-4 {
        font-size: 1.5rem;
    }

    .display-5 {
        font-size: 1.1rem;
    }

    .form-control-lg, samp {
        font-size: 1.1rem;      
    }
}





/* Max Width: 426px */

@media screen and (max-width: 426px) {
    
    /* index.html */

    /* Header */
    
    header > figure > a > img {
        width: 80%;
    }

    header > .ResponsiveTopMenu {
        height: 33.5vh;
    }

    header a {
        font-size: 0.8rem;
    }





    /* Welcome Screen */

    .WelcomeScreen {
        background-image: url(../Images/ImagemPrincipalVertical.png);
    }

    .WelcomeScreen > nav {
        width: 30%;
        height: 10%;
    }

    .WelcomeScreen h1 {
        font-size: 1.3rem;
    }

    .WelcomeScreen p {
        font-size: 0.8rem;
    }

    .WelcomeScreen a {
        font-size: 1rem;
    }





    /* Banners */

    .Banners {
        height: 55vh;
    }

    .Banners > h2 {
        font-size: 2rem;
        border-radius: 5px;
    }

    .Banners article {
        top: 5%;
    }

    .Banners h3 {
        font-size: 0.8rem;
    }

    .Banners a {
        font-size: 0.6rem;
    }

    .fa-caret-left, .fa-caret-right {
        font-size: 1.5rem;
        padding: 0.3% 1.2%;
    }





    /* Cards */

    .Cards > h2 {
        font-size: 2rem;
        border-radius: 5px;
    }

    .Cards > nav {
        height: 280vh;
    }

    .Cards figure {
        width: 50%;
        height: 14%;
    }





    /* Footer */

    footer > article, footer > nav, footer figure {
        margin: 0.2rem;
    }

    footer p {
        font-size: 0.5rem;
    }

    footer > nav img {
        width: 25px;
    }

    footer > figure > img {
        width: 45%;
    }





    /* login.html */

    /* Forms */

    form > .display-1 {
        font-size: 2.5rem;
        border-radius: 5px;
    }

    form > .display-2 {
        font-size: 2rem;
        border-radius: 5px;
    }

    .display-4 {
        font-size: 0.8rem;
    }

    .display-5 {
        font-size: 0.8rem;
    }

    .form-control-lg, samp {
        font-size: 0.8rem;      
    }

    .btn-lg {
        font-size: 0.6rem;
    }
}





/* Max Width: 376px */

@media screen and (max-width: 376px) {
    
    /* index.html */

    /* Header */
    
    header a {
        font-size: 0.7rem;
    }

    header > .ResponsiveTopMenu {
        height: 33vh;
    }





    /* Welcome Screen */

    .WelcomeScreen > article {
        height: 35%;
    }





    /* Banners */

    .Banners {
        height: 52vh;
    }

    .Banners > h2 {
        font-size: 1.8rem;
    }

    .Banners article {
        top: 5%;
    }

    .Banners article > nav {
        border-radius: 2px;
    }

    .Banners h3 {
        font-size: 0.8rem;
    }

    .Banners a {
        font-size: 0.5rem;
        border-radius: 2px;
    }

    .fa-caret-left, .fa-caret-right {
        font-size: 1.3rem;
    }





    /* Cards */

    .Cards > h2 {
        font-size: 1.8rem;
    }

    .Cards > nav {
        height: 270vh;
    }

    .Cards figure {
        height: 13%;
    }





    /* Footer */

    footer p {
        font-size: 0.5rem;
    }

    footer > nav img {
        width: 20px;
    }

    footer > figure > img {
        width: 45%;
    }





    /* login.html */

    /* Forms */

    form > .display-1 {
        font-size: 2rem;
    }

    form > .display-2 {
        font-size: 1.8rem;
    }

    .display-4 {
        font-size: 0.8rem;
    }

    .form-control-lg {
        border-radius: 2px;
    }

    .btn-lg {
        font-size: 0.5rem;
        border-radius: 2px;
    }
}





/* Max Width: 320px */

@media screen and (max-width: 320px) {
    
    /* index.html */

    /* Header */
    
    header a {
        font-size: 0.5rem;
    }

    header > .ResponsiveTopMenu {
        height: 32vh;
    }





    /* Welcome Screen */

    .WelcomeScreen > article {
        height: 30%;
    }

    .WelcomeScreen > nav {
        width: 35%;
    }

    .WelcomeScreen h1 {
        font-size: 1.2rem;
    }

    .WelcomeScreen p {
        font-size: 0.6rem;
    }

    .WelcomeScreen a {
        font-size: 0.8rem;
    }





    /* Banners */

    .Banners {
        height: 48vh;
    }

    .Banners > h2 {
        font-size: 1.6rem;
    }

    .Banners article {
        top: 5%;
    }

    .Banners h3 {
        font-size: 0.6rem;
    }

    .Banners a {
        font-size: 0.4rem;
    }

    .fa-caret-left, .fa-caret-right {
        font-size: 1rem;
    }





    /* Cards */

    .Cards > h2 {
        font-size: 1.6rem;
    }

    .Cards > nav {
        height: 235vh;
    }

    .Cards figure {
        height: 13%;
        width: 55%;
    }

    .Cards figure > nav {
        border-radius: 2px;
    }





    /* Footer */

    footer p {
        font-size: 0.5rem;
    }

    footer > nav img {
        width: 20px;
    }

    footer > figure > img {
        width: 45%;
    }





   /* login.html */

    /* Forms */

    form > .display-1 {
        font-size: 1.8rem;
    }

    form > .display-2 {
        font-size: 1.6rem;
    }

    .display-4 {
        font-size: 0.6rem;
    }

    .display-5 {
        font-size: 0.6rem;
    }

    .form-control-lg, samp {
        font-size: 0.6rem;      
    }

    .btn-lg {
        font-size: 0.4rem;
    }
}